@import url(http://fonts.googleapis.com/css?family=Roboto);
html,
body {
    margin: 0;
    padding: 0;
    font-size: initial;
    line-height: initial;
}

html {
    box-sizing: border-box;
}

body {
    background: url('../img/background.jpg') fixed;
    background-size: cover;
    font-family: 'Roboto', 'Trebuchet MS', sans-serif;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: initial;
    font-size: initial;
}

h1 {
    margin: 0;
    color: #23506f;
    font-size: 1.2em;
    font-weight: bold;
}

h2,
h3 {
    margin: 0 0 8px;
    font-weight: bold;
}

h3 {
    font-size: 1em;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    color: #23506f;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

a,
span {
    transition-property: all;
    transition-duration: .4s;
}

.clear::after {
    content: '';
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

.scrollTop {
    z-index: 999;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 30px;
    right: 0;
    display: none;
    text-indent: -9999px;
    background: #eee url('../img/icon-scrollTop.png') no-repeat center 4px;
    border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 15px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 15px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 15px;
}

.scrollTop:hover {
    background-color: #ddd
}

.toplineWrap {
    width: 100%;
    background: #0e0e0e;
}

.topline {
    position: relative;
    z-index: 999;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 4%;
    color: #9aabbc;
    font-size: .8em;
    -webkit-transition: padding 1s;
    /* Safari */
    transition: padding 1s;
}

.topline a {
    color: #ddd;
}

.topline a:hover {
    color: #fff;
}

.topline__left {
    float: left;
    height: 2.8em;
    line-height: 2.8em;
}

.desktopMenu {
    display: none;
}

.desktopMenu a {
    display: block;
    float: left;
    background: #1c1c1c;
    margin-right: 1px;
    padding: 0px 15px;
}

.desktopMenu a:hover {
    background: #2c2c2c;
}

.mobileMenu > a {
    display: block;
    background: #1c1c1c url(../img/icon-nav.png) no-repeat center center;
    height: 36px;
    width: 46px;
    position: absolute
}

.mobileMenu__items {
    position: absolute;
    top: 36px;
    display: none;
    width: 92%; // MUST FIX THIS SOMEDAY
}

.mobileMenu__items.active {
    display: block;
}

.mobileMenu__items a {
    display: block;
    background: #1c1c1c;
    min-width: 200px;
    padding: 2px 14px;
    border-bottom: 1px solid #0e0e0e;
}

.mobileMenu__items a:last-of-type {
    border-bottom: none;
    border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.mobileMenu__items a:hover {
    background: #2c2c2c;
}

.topline__right {
    float: right;
    padding-right: 3px;
}

.topline__right a.profile {
    display: inline-block;
    background: url(../img/icon-profile.png) no-repeat right top;
    background-size: 24px 24px;
    opacity: 0.8;
    line-height: 24px;
    margin-top: 6px;
    padding-right: 32px;
}

.topline__right a.profile:hover {
    opacity: 1;
}

.topstripe {
    height: .25em;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #c69), color-stop(8.33333%, #c69), color-stop(8.33333%, #b37399), color-stop(16.66667%, #b37399), color-stop(16.66667%, #d58e10), color-stop(25%, #d58e10), color-stop(25%, #f6c352), color-stop(33.33333%, #f6c352), color-stop(33.33333%, #d2e1dd), color-stop(41.66667%, #d2e1dd), color-stop(41.66667%, #fff), color-stop(50%, #fff), color-stop(50%, #f2ece4), color-stop(58.33333%, #f2ece4), color-stop(58.33333%, #e1d7d2), color-stop(66.66667%, #e1d7d2), color-stop(66.66667%, #dadbdf), color-stop(75%, #dadbdf), color-stop(75%, #6e94b9), color-stop(83.33333%, #6e94b9), color-stop(83.33333%, #306ba4), color-stop(91.66667%, #306ba4), color-stop(91.66667%, #23506f), color-stop(100%, #23506f));
    background-image: -moz-linear-gradient(left, #c69 0%, #c69 8.33333%, #b37399 8.33333%, #b37399 16.66667%, #d58e10 16.66667%, #d58e10 25%, #f6c352 25%, #f6c352 33.33333%, #d2e1dd 33.33333%, #d2e1dd 41.66667%, #fff 41.66667%, #fff 50%, #f2ece4 50%, #f2ece4 58.33333%, #e1d7d2 58.33333%, #e1d7d2 66.66667%, #dadbdf 66.66667%, #dadbdf 75%, #6e94b9 75%, #6e94b9 83.33333%, #306ba4 83.33333%, #306ba4 91.66667%, #23506f 91.66667%, #23506f 100%);
    background-image: -webkit-linear-gradient(left, #c69 0%, #c69 8.33333%, #b37399 8.33333%, #b37399 16.66667%, #d58e10 16.66667%, #d58e10 25%, #f6c352 25%, #f6c352 33.33333%, #d2e1dd 33.33333%, #d2e1dd 41.66667%, #fff 41.66667%, #fff 50%, #f2ece4 50%, #f2ece4 58.33333%, #e1d7d2 58.33333%, #e1d7d2 66.66667%, #dadbdf 66.66667%, #dadbdf 75%, #6e94b9 75%, #6e94b9 83.33333%, #306ba4 83.33333%, #306ba4 91.66667%, #23506f 91.66667%, #23506f 100%);
    background-image: linear-gradient(to right, #c69 0%, #c69 8.33333%, #b37399 8.33333%, #b37399 16.66667%, #d58e10 16.66667%, #d58e10 25%, #f6c352 25%, #f6c352 33.33333%, #d2e1dd 33.33333%, #d2e1dd 41.66667%, #fff 41.66667%, #fff 50%, #f2ece4 50%, #f2ece4 58.33333%, #e1d7d2 58.33333%, #e1d7d2 66.66667%, #dadbdf 66.66667%, #dadbdf 75%, #6e94b9 75%, #6e94b9 83.33333%, #306ba4 83.33333%, #306ba4 91.66667%, #23506f 91.66667%, #23506f 100%);
}

.wrap {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 35px 4%;
}

.headerLogo {
    margin: 0 auto;
    width: 181px;
    height: 60px;
    background: url('../img/logo.png') no-repeat;
    background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
}

.headerLogo a {
    display: block;
    width: 100%;
    height: 100%;
}

.headerBox {
    display: none;
    float: right;
    width: 294px;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.7);
    color: #eee;
    font-size: .9em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.headerBox strong {
    text-transform: uppercase;
}

a.headerBox__btn {
    display: block;
    float: right;
    margin-top: 8px;
    padding: 5px 10px;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-shadow: #460a28 0px 0px 2px;
    background: #d3237b;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

a.headerBox__btn:hover {
    background: #a51c60;
}

#events-container article { 
    display:none;
}

#past-events-container article {
    display: none;
}

.content {
    z-index: 1;
    position: relative;
    max-width: 1000px;
    margin: 35px auto 0;
    background: #fafafa;
    padding: 2%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

.filterLine {
    position: relative;
    bottom: -35px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.filterLine__tabs {
    float: left;
}

.filterLine__filters {
    float: right;
    margin: 5px 0;
    font-size: .9em;
}

.filterLine__filters span {
    color: #eee;
    text-shadow: #000 0 0 6px;
    -moz-text-shadow: #000 0 0 6px;
    -webkit-text-shadow: #000 0 0 6px;
}

.filterLine__filters select {
    border-radius: 5px;
}

.filterLine__tabs a {
    float: left;
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: .9em;
    color: #333;
    text-transform: uppercase;
}

.filterLine__tabs a.active,
.filterLine__tabs a:hover {
    background-color: rgba(255, 255, 255, 1);
}

.filterLine__tabs a.active {
    cursor: default;
}

.event {
    position: relative;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.event:first-of-type {
    margin-top: 0px;
    padding-top: 0px;
    border-top: none;
}

.event:last-of-type {
    margin-bottom: 5px;
}

.event a {
    display: block;
    color: initial;
}

.event__date {
    float: left;
}

.eventDate {
    color: #fff;
    text-align: center;
}

.eventDate__day {
    background-color: #306ba4;
    font-size: 1.4em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 3px 12px 1px;
}

.eventDate__month {
    background: #23506f;
    font-size: .9em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 2px 0;
}

.event__title {
    float: left;
    width: 65%;
    padding: 0 15px;
    font-size: .8em;
}

.eventTitle__details {
    background-repeat: no-repeat;
    margin-top: 6px;
    padding-left: 22px;
}

.eventTitle__details--inline {
    display: inline-block;
    background-position: 0 2px;
}

.eventTitle__details--block {
    margin-bottom: 6px;
    line-height: 16px;
    color: #555;
}

.eventTitle__details--eventList:last-of-type {
    margin-bottom: 0;
}

.eventTitle__details--location {
    background-image: url('../img/icon-location.png');
}

.eventTitle__details--price {
    background-image: url('../img/icon-price.png');
    font-weight: bold;
}

.eventTitle__details--time {
    background-image: url('../img/icon-time.png');
}

.eventTitle__details--freeprice {
    color: #139616;
}

.event__dateTime {
    display: none;
    float: left;
    width: 14%;
    color: #777;
    font-size: .8em;
}

.eventCTA {
    float: right;
    min-width: 10%;
}

span.eventCTA__btn {
    display: none;
    float: right;
    margin: 20px 0;
    padding: 5px 10px;
    background: #eab132;
    border-radius: 5px;
    font-weight: bold;
    font-size: .8em;
    color: #1c1c1c;
}

span.eventCTA__btn:hover {
    background: #d3911f;
}

span.eventCTA__arrow {
    display: block;
    float: right;
    position: absolute;
    top: calc(50% - 10px);
    top: -moz-calc(50% - 10px);
    top: -webkit-calc(50% - 10px);
    right: 10px;
    width: 15px;
    height: 24px;
    background: url(../img/icon-arrow.png) no-repeat;
}

/* STYLE OVERRIDE FOR PAST EVENT */

.pastEvent h1 {
    color: #222;
}

.pastEvent .eventDate__day {
    background-color: #999;
}

.pastEvent .eventDate__month {
    background-color: #666;
}

.singleEvent__header {
    display: flex;
}

.singleEvent__title {
    padding-left: 15px;
}

.singleEvent__main {
    font-size: .9em;
}

.lecture {
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
    border-bottom: 1px solid #d2d0cd;
}

.lecture:last-of-type {
    margin-bottom: none;
    border-bottom: none;
}

.lecture__item {
    flex-basis: 50%;
    padding: 10px 12px;
}

.lecture__item p {
    margin: 0;
}

.lecture__item--lecture {
    background: #ece9e4;
}

.lecture__item--lecturer {
    background: #f5f2ed;
}

.singleEvent__footer > span {
    float: left;
    margin-top: 6px;
}

.singleEvent__footer > div {
    float: right;
}

.singleEvent__footer > div > span {
    padding-right: 5px;
    font-style: italic;
}

.eventManager {
    display: table;
    width: 100%;
}

.eventManager__item {
    display: table-row;
}

.eventManager__item div {
    display: table-cell;
    border: 1px solid #ccc;
}

.managerTable {
    width: 100%;
}

.managerTable td {
    padding: 12px 6px;
    font-size: .9em;
    border-bottom: 1px solid #ccc;
}

.managerTable__title {
    font-weight: bold;
}

.managerTable__title .label {
    margin: -1px 0 0 8px;
}

.managerTable__date {
    width: 120px;
    text-align: center;
}

.managerTable td:last-child {
    text-align: right;
}

.managerTable tr:last-child td {
    border: none;
}

.managerTable__CTA .btn-xs {
    margin: 3px 0;
}

.managerTable tr:nth-child(2n) td {
    background: #eee;
}

footer {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    line-height: 3em;
    font-size: .8em;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

a.loader {
    display: block;
    width: 80px;
    line-height: 80px;
    margin: 35px auto 0;
    background: #fff;
    border-radius: 50%;
    font-size: .8em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

a.loader:hover {
    background: #23506f;
    color: #fff;
}

@media only screen and (min-width: 560px) {
    .topline__left .desktopMenu {
        display: block;
    }
    .topline__left .mobileMenu {
        display: none;
    }
    .headerLogo {
        float: left;
        margin: 0;
    }
    .headerBox {
        display: block;
    }
    .filterLine {
        bottom: 0;
        margin-bottom: -35px;
    }
    .lecture {
        flex-direction: row;
    }
}

@media only screen and (min-width: 640px) {
    .event__dateTime,
    span.eventCTA__btn {
        display: block !important;
    }
    span.eventCTA__arrow {
        display: none;
    }
}

@media only screen and (min-width: 875px) {
    .wrap,
    .topline {
        padding-left: 25px;
        padding-right: 25px;
    }
    p.backTop {
        text-align: right;
    }
    .backTop a {
        display: inline-block;
        width: auto;
    }
}


/* #####################################################################
#
#   Project       : Modal Login with jQuery Effects
#   Author        : Rodrigo Amarante (rodrigockamarante)
#   Version       : 1.0
#   Created       : 07/28/2015
#   Last Change   : 08/02/2015
#
##################################################################### */

#login-modal .modal-dialog {
    max-width: 350px;
}

#login-modal input[type=text],
#login-modal input[type=password] {
    margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    font-size: .9em;
    transition: all ease-in-out 500ms;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 6px;
    transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
}

#img_logo {
    max-height: 100px;
    max-width: 100px;
}


/* #########################################
#    override the bootstrap configs     #
######################################### */

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-open .modal {
    padding-left: 10px;
    padding-right: 10px!important;
}

.modal-dialog {
    margin: 10px auto;
}

.modal-content {
    background-color: #ececec;
    border-radius: 5px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg,
.btn-group-lg>.btn {
    border-radius: 5px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover,
.btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.btn-primary {
    background-color: #306ba4;
    border-color: #275a8c;
}

.glyphicon {
    top: 0px;
}

.btn-yellow {
    background-color: #eab132;
    border-color: #b98c28;
    color: #1c1c1c;
    font-weight: bold;
}

.btn-yellow:hover {
    background-color: #d3911f;
    color: #000;
}

@media (min-width: 768px) {
    .modal-dialog {
        margin: 30px auto;
    }
}


/* BOOTSTRAP OVERRIDE FOR ADD EVENT PAGE */

label {
    font-size: .9em;
}

label span {
    color: #777;
    font-weight: normal;
    font-size: .8em;
}

.form-group.float input {
    float: left;
}

.form-group.float input:first-of-type {
    width: 69%;
    margin-right: 1%;
}

.form-group.float input:last-of-type {
    width: 30%;
}

.btn--floatRight {
    float: right;
}
